*{
    font-family: 'Trebuchet MS', sans-serif;
}

#content
{
    width:100%;
}

.game-container-style
{
    background-color: #ddd;
    width:fit-content;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.game-table-style
{
    width: 100%;
}

.col
{   
    width: 16px;
    max-width: 16px;
    height: 16px;
    border: 2px outset #ddd;
}

.show-bomb
{
    background-image: url('../res/img/sprite100.gif');
    background-position: -64px -39px;
    border: 1px inset #ddd;
}

.blank
{
    
}