*{
    font-family: 'Trebuchet MS', sans-serif;
}

#content
{
    width:100%;
}

.game-container-style
{
    background-color: #ddd;
    width:600px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.game-table-style
{
    width: 100%;
}

.cell
{
    height: 20px;
    border: 2px outset #ddd;
}

.show-bomb
{
    background-image: url('../res/img/sprite100.gif');
    background-position: -64px -39px;
    border: 1px inset #ddd;
}

.blank
{
    
}